In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('train.csv', index_col=0)
df.head()

                   image  papyri           original  position  fragment  patch
0  140220_140220_1_0.png  140220  1_14022_4919R.png         0  140220_1      0
1  140220_140220_1_1.png  140220  1_14022_4919R.png         0  140220_1      1
2  140220_140220_1_2.png  140220  1_14022_4919R.png         0  140220_1      2
3  140220_140220_1_3.png  140220  1_14022_4919R.png         0  140220_1      3
4  140220_140220_1_4.png  140220  1_14022_4919R.png         0  140220_1      4

In [15]:
df.drop_duplicates(subset=['original'], keep='first', inplace=True, ignore_index=False)
df.image = df.original
df.drop(columns=['original'],inplace=True)

In [16]:
df.head()

                   image  papyri  position  fragment  patch
0      1_14022_4919R.png  140220         0  140220_1      0
7     1_13600_4514BV.png  136001         1  136001_1      0
27  1_17109_5910Z11R.png  171090         0  171090_1      0
33    0_10945_4107IR.png  109450         0  109450_0      0
53    0_13930_4816DR.png  139300         0  139300_0      0

In [17]:
df.papyri.nunique()

422

In [18]:
df.to_csv('cleansed.csv')

In [3]:
df = pd.read_csv('val.csv', index_col=0)
df.head()

,image,papyri,original,position,fragment,patch
0,148001_148001_1_0.png,148001,1_14800_6595BV.png,1,148001_1,0
1,148001_148001_1_1.png,148001,1_14800_6595BV.png,1,148001_1,1
2,148001_148001_1_2.png,148001,1_14800_6595BV.png,1,148001_1,2
3,148001_148001_1_3.png,148001,1_14800_6595BV.png,1,148001_1,3
4,148001_148001_1_4.png,148001,1_14800_6595BV.png,1,148001_1,4

In [4]:
df.drop_duplicates(subset=['original'], keep='first', inplace=True, ignore_index=False)
df.image = df.original
df.drop(columns=['original'],inplace=True)
df.papyri.nunique()

422

In [5]:
df.to_csv('val_cleansed.csv')